---
import CourseLayout from '../../layouts/CourseLayout.astro';

const courseIcon = `<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M12 22S8 18 8 13V6L12 4L16 6V13C16 18 12 22 12 22Z" stroke="currentColor" stroke-width="2"/>
	<path d="M9 12L11 14L15 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>`;
---

<CourseLayout 
	title="CyberSecurity | LetCode Academy"
	courseName="Kibertəhlükəsizlik"
	courseIcon={courseIcon}
>
	<div class="about-section">
		<h2>Kurs haqqında</h2>
		<p>
			
		</p>
	</div>
</CourseLayout>