---
import CourseLayout from '../../layouts/CourseLayout.astro';

const courseIcon = `<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M3 3V21H21V3H3Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round"/>
	<path d="M9 9H15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
	<path d="M9 13H15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
	<path d="M9 17H13" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
</svg>`;
---

<CourseLayout 
	title="Data Science and Analytics | LetCode Academy"
	courseName="Data Science and Analytics"
	courseIcon={courseIcon}
>
	<div class="about-section">
		<h2>Kurs haqqında</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		</p>
		<p>
			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
			eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</p>
		<p>
			Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos 
			qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
			consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
		</p>
		<p>
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
			corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in 
			culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
		</p>
	</div>
</CourseLayout>