---
import CourseLayout from '../../layouts/CourseLayout.astro';

const courseIcon = `<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M3 3V21H21V3H3Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round"/>
	<path d="M9 9H15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
	<path d="M9 13H15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
	<path d="M9 17H13" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
</svg>`;
---

<CourseLayout 
	title="Data Science and Analytics | LetCode Academy"
	courseName="Data Science and Analytics"
	courseIcon={courseIcon}
>
	<div class="about-section">
		<h2>Kurs haqqında</h2>
		<p>
			
		</p>
	</div>
</CourseLayout>